<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Users</title>
</head>
<body>
    <div id="container">
        <h1>User {{ id_number }}</h1>

        <div class="inner-container">

                <p>Full Name: {{ first_name }} {{ last_name }}</p>

                <p>Email: {{ email }}</p>

                <p>Created On: {{ created_at.strftime("%B %d, %Y") }}</p>

                <p>Lasted Updated On: {{ updated_at.strftime("%B %d, %Y at %I:%M %p") }}
        </div>
        <div>
            <a href="/users/{{ id_number }}/edit">Edit</a> | <a href="/users/{{ id_number }}/delete">Delete</a>
        </div>
    </div>
</body>
</html>