* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6em;
}

#container {
    width: 60%;
    margin: 100px auto 100px auto;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin-bottom: 25px;
}

.colm {
    margin: 0 25px;
    width: 45%;
}

.submit {
    float: right;
}

input[type=text] {
    width: 250px;
    height: 25px;
    font-size: .6em;
}

input[type=submit] {
    font-size: .8em;
    padding: 15px 25px;
    background-color: white;
    border: 5px solid black;
    margin-top: 20px;
}

.box {
    border: 5px solid black;
    padding: 25px;
    line-height: 2em;

}

.bottom-link {
    margin-top: 20px;
}
