#new-head {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#new-head a {
	padding-top:  10px;
}

#container {
	width:  80%;
	margin:  100px auto 0 auto;
}

h1 {
	font-size:  3.5em;
}

a {
	font-size: 1.6em;
}

table {
	font-size:  1.3em;
}

table a {
	font-size:  1.3em;
}

form {
	border:  5px solid black;
	padding:  25px;
}

.inner-container {
	border: 5px solid black;
	line-height: 2em;
	padding: 25px;
}

.none {
	border: none;
}

.top {
	margin-top: 25px;
}