* {
    margin: 0;
    padding: 0;
}

#container {
    width: 65%;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

#flash {
    width: 65%;
    height: 50px;
    margin: 50px auto 50px auto;
    text-align: center;
}

.submit {
    margin-top: 25px;
}

.row {
   height: 250px;
}

#container-dashboard {
    width: 65%;
    margin: 100px auto 0 auto; 
    display: flex;
}

#head {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 5px solid black;
}

.row-1 {
    border-right: 5px solid black;
}

.row-1, .row-2 {
    padding: 25px;
    font-size: 1.4em;
    width: 50%;
}

.row-2 > h2 {
    margin-bottom: 35px;
}

.row-1 > h2 {
    margin-bottom: 35px;
}